@font-face {
    font-family: 'Gotham Medium';
    src: url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham-Black.woff2') format('woff2'),
        url('Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.main, .inner{
    background: linear-gradient(180deg, #05C46A 0%, #007830 141.46%);
    text-align: center;
}
body{
    margin: 0;
}
.type_two{
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 2rem;
}

.type_two ul, .type_two ol{
    list-style: none;
}
.type_two ul li{
    margin-bottom: 1.2rem;
}
.inner img{
    width: 300px;
}
.content .content_main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    min-height: 100vh;
}
.main{
    height: 100vh;
}
img{
    max-width: 100%;
    margin: 0 auto;
    width: 580px;
}
h1, p{
    color: #fff;
}
a{
    color: #fff;
}
.type_two h1, .type_two p, .type_two a{
    color: #000;
}
h1{
    margin-bottom: 1.5rem;
    font-family: 'Gotham Black';
    font-weight: 700;
    font-size: 1.1rem;
}
p, li, li p, li + p, p + p{
    font-family: 'Gotham Medium';
    letter-spacing: 1.2px;
    font-size: 1rem;
    text-transform: uppercase;
}
h1 + p{
    padding-left: 40px;
}
.inner{
    width: 100%;
    display: block;
}
.type_two li, .type_two li p, li + p, p + p{
    text-transform: none;
    line-height: 1.2rem;
    font-size: .8rem;
}
.type_two ul{
    /* padding: 0; */
}
.type_two h1{
    margin-bottom: 2rem;
}
.type_two h1{
    text-align: center;
}
.rwd-table {
    margin: 0;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
  }
  
  .rwd-table tr:first-child {
    border-top: none;
    background: linear-gradient(180deg, #05C46A 0%, #007830 141.46%);
    color: #fff;
  }
  th{
      font-weight: 400;
  }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
  }
  
  .rwd-table tr:nth-child(odd):not(:first-child) {
    background-color: #ebf3f9;
  }
  
  .rwd-table th {
    display: none;
  }
  
  .rwd-table td {
    display: block;
  }
  
  .rwd-table td:first-child {
    margin-top: .5em;
  }
  
  .rwd-table td:last-child {
    margin-bottom: .5em;
  }
  
  .rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
  }
  
  .rwd-table th,
  .rwd-table td {
    text-align: left;
  }
  
  .rwd-table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
  }
  
  .rwd-table tr {
    border-color: #bfbfbf;
  }
  
  .rwd-table th,
  .rwd-table td {
    padding: .5em 1em;
  }
  @media screen and (max-width: 601px) {
    .rwd-table tr:nth-child(2) {
      border-top: none;
    }
  }
  @media screen and (min-width: 600px) {
    .rwd-table tr:hover:not(:first-child) {
      background-color: #d8e7f3;
    }
    .rwd-table td:before {
      display: none;
    }
    .rwd-table th,
    .rwd-table td {
      display: table-cell;
      padding: .25em .5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
      padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
      padding-right: 0;
    }
    .rwd-table th,
    .rwd-table td {
      padding: 1em !important;
    }
  }
  